.layout {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url("../../assets/auth-layout-bg.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px !important;
}

.brand {
  color: white;
  font-weight: 600;
  font-size: 42px;
  margin-left: 12px !important;
}

.children {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
