.layout {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px !important;
  background: linear-gradient(100deg, #9181f4 0%, #5038ed 100%);
}

.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  flex: 1;
}

.glass {
  backdrop-filter: blur(0px) saturate(150%);
  -webkit-backdrop-filter: blur(0px) saturate(150%);
  background-color: rgba(17, 25, 40, 0.32);
  border-radius: 12px;
  border: 1px solid rgba(107, 106, 107, 0.434);
}

.icon {
  padding: 12px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  margin-bottom: 12px !important;
}

.brand {
  color: white;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px !important;
  letter-spacing: 0ch;
}

.tagline {
  color: #f8f8f9;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  margin-bottom: 12px !important;
}

.description {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px !important;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
}

.footer p {
  margin-left: 5px !important;
  margin-right: 5px !important;
  color: var(--white);
}

.footer > :nth-child(2),
.footer > :nth-child(4) {
  flex: 1;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--primaryL2);
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.children {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
