.layout {
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px !important;
  background: linear-gradient(100deg, #9181f4 0%, #5038ed 100%);
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.description {
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px !important;
  text-align: center;
}

.children {
  background-color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
