.container {
  height: 100vh;
}

.navcontainer {
  margin-top: 35px !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.sidebar {
  background-color: var(--white);
  height: 100vh;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1020;
  width: 25%;
}

/* topbar */
.topbar {
  background-color: var(--white);
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header > h1 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
}

.header > p {
  color: #4c5563;
  font-weight: 500;
  font-size: 14px;
}

.profile {
  display: flex;
  gap: 40px;
  align-items: center;
}

.bellWrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notificationDot {
  position: absolute;
  top: -8px;
  right: -4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--negative);
  border: 2px solid white;
}

/* context */
.rightContainer {
  margin-left: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
  background-color: var(--background);
  padding: 24px 24px 50px 24px;
}
