.container {
  background-color: var(--background);
}

.navcontainer {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.sidebar {
  background-color: var(--white);
}

/* topbar */

.topbar {
  background-color: var(--white);
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header > h1 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
}

.header > p {
  color: #4c5563;
  font-weight: 500;
  font-size: 14px;
}

.profile {
  display: flex;
  gap: 40px;
  align-items: center;
}

.bellWrapper {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.notificationDot {
  position: absolute;
  top: -8px;
  right: -4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--negative); 
  border: 2px solid white;
}
